:root {
    --primary: rgb(89, 222, 193);
    --secondary: rgb(248, 231, 231);
    --tertiary: white; 

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: var(--primary);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 1%;

}


.about-img {
    margin-left: px;
}