:root {
    --primary: rgb(89, 222, 193);
    --secondary: rgb(248, 231, 231);
    --tertiary: rgb(220, 159, 159); 

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: var(--primary);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    background-position: 80%;
   

}

header a {
    text-decoration: none;
    color:black;
}

header h1 a {
    font-weight: lighter;
    font size: 36px;
    color: aliceblue;
    margin:0;
    transition:color 0s ease-in-out 0s
}


header h1 a:hover {
    color:aliceblue
}

nav {
    margin: 7px 0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 25px;
    transition: color 0s ease-in-out 0s;
    text-decoration: underline;
}

nav ul li a:hover {
    color: var(--tertiary);
    border: 5px solid var(--tertiary);
}

h2 {
    color: var(--primary);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about-img {
    margin-left: px;
}


footer {
    width: 100%;
    padding: 40px 35px;
}

footer p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    text-align: center;
    color: red;
    margin: 0;
}

.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 100%;
    height: 200px;
    background-attachment: fixed;
    background-position: 80%;
}
/*hero end*/

.container {
    margin: 100px auto;
    padding-right: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 100%;
    justify-content: center;
}

/* about me section */

section h2 {
    color: var(--secondary);
    font-size: 50px;
    font-weight: lighter;
    text-align: right;
    padding-top: 30px;
    padding-right: 30px;
    flex: 1 20%;
}

.aboutme {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 30px;
    border-left: 5px solid var(--secondary);
}

.aboutme p {
    width: 70%;
    margin-bottom: 20px;
    color: var(black);
    line-height: 1.7;
    font-size: 18px;
    padding-top: 20px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.about-img {
    margin-left: 20px;
}

.about-img img {
    max-width: 200px;
    border: 5px solid var(--tertiary);
    height: auto;
    float: left;
    margin: 20px 20px 0 0;
    flex: 2 0 0;
}

.about-img img:hover {
    opacity: 0.5;
}
/*about me end*/

.img-container {
    display: flex;
    flex: 2 70%;
    flex-wrap: wrap;
    justify-content: space-between;
    border-left: 5px solid var(--secondary);
    padding-left: 30px;
}

.img-container .firstwork {
    flex: 1 100%;
    border: 5px solid var(--tertiary);
    position: relative;
    display: inline-block;
    background-color: var(--secondary);
    padding: 15px;
    margin-bottom: 10px;
    background-image: url("../images/me.JPG");
}

.firstwork img {
    max-width: 100%;
    display: block;
}

.firstwork a {
    flex: 0 0 50%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
}

.img-container .work {
    flex: 1 50%;
    border: 5px solid var(--tertiary);
    position: relative;
    display: inline-block;
    background-color: var(--secondary);
    padding: 15px;
    margin-bottom: 10px;
    background-size: cover;
}

.contactme {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    padding: left 10px;
    border-left: 5px solid var(--primary);
}

.work.img-1{
    background-image: url("../images/me.JPG");
}

.work.img-2 {
    background-image: url("../images/me.JPG");
}

.work.img-3 {
    background-image: url("../images/me.JPG");
}

.work.img-4 {
    background-image:url("../images/me.JPG") ;
}